.section-pag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pag{
    background-color: #2F343D;
    padding: 6px;
    border-radius: 8px;
    width: 8%;
    display: flex;
    justify-content: center;
}

#btn-pagina{
    color: white;
    margin-right: 5px;
    margin-left: 5px;
}

#btn-pagina:hover{
    transition: 0.3s;
    color: rgb(163, 163, 163);
}
/* #btn-pagina{
    background-color: #2F343D;
    border-radius: 10px 10px 10px 10px;
    margin: 0.5px;
    color: white;
    text-decoration: none;
   padding: 10px;
}

#btn-pagina:hover{
    transition: 0.5s;
    color: rgb(163, 163, 163);
}

#btn-pagina-atual{
    background-color: rgb(163, 163, 163);
    border-radius: 10px 10px 10px 10px;
    margin: 0.5px;
    color: #2F343D;
    text-decoration: none;
    padding: 10px;
}

#btn-pagina-atual:hover{
    transition: 0.5s;
    color:white;
} */