* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

section {
    background-color: #2F343D;
    /* background-color: white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: white;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    height: 40px;
    box-shadow: 0 7px 10px 0 rgb(18 19 20 / 54%);
    flex-direction: row;
}

img {
    width: 50px;
    margin-right: 10px;;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #2f343d40;
    border-radius: 3px;
    padding: 5px;
    color: #2f343d;
    font-size: 14px;
    height: 20px;
    width: 200px;
    margin: 0 10px 0 0;
    outline: none;
}

.email {
    margin: 0 10px 0 10px;
}

.btn-login {
    background-color: #64B5F6;
    border: none;
    border-radius: 100%;
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.btn-login input {
    width: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
}

.btn-login img {
    width: 20px;
    margin: 0 !important;
    transition: 0.2s;
}

.btn-login:hover {
    box-shadow: 0 7px 8px 0 rgba(0,0,0,0.2);
}

.btn-login:hover img {
    width: 25px;
}

.message-error {
    color: white;
    font-size: 16px;
    margin: 10px 0 0 0;
}