table, th, td {
   border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 25px;
    text-align: left;   
    background-color: #2F343D;
    color: white;
    padding: 15px;
    text-align: center;
}

td {
    height: 10px;
    vertical-align: bottom;
    padding: 8px;
    text-align: left;
}

